.tasks.view {
	flex: 0;
	display: flex;
	flex-direction: column;
	max-width: 50%;
	.content-pane {
		display: flex;
		flex-direction: column;
		min-height: 0;
		> * {
			padding: $content-padding;
		}
	}
}

@import "add/style";
@import "list/style";
