@keyframes highlight {
	10% {
		filter: brightness(1.4);
	}
}

.tasks-list {
	overflow: auto;
	button[action="toggleTaskIsFavorite"] {
		font-weight: bold;
		&.favorite {
			color: gold;
			text-shadow: 0 0 0.1em black;
		}
	}
	button[action="toggleTaskIsLocked"] {
		&.locked {
			color: green;
		}
		&.unlocked {
			color: rgb(129, 129, 129);
		}
	}
	.list-wrapper {
		box-shadow: 0 1px 4px rgba(black, 0.4), 0 0px 1px rgba(black, 0.25);
		.task {
			box-shadow: 0 -1px 0 rgba(black, 0.2) inset, 0 1px 0 rgba(white, 0.2) inset, 0 0 1em rgba(white, 0.1) inset;
			transition: opacity 0.2s, filter 0.2s;
			display: flex;
			flex-direction: row;
			align-items: center;
			white-space: nowrap;
			height: 2em;
			transition: height 0.2s, filter 0.2s, opacity 0.2s;
			overflow: hidden;
			&.filter-miss.filter-miss {
				height: 0.6em;
				filter: saturate(0.1);
				opacity: 0.5;
				> * {
					font-size: 0.3em;
				}
			}
			> * {
				padding-right: 0.5em;
				padding-left: 0.5em;
				transition: font-size 0.2s, filter 0.2s;
			}
			.id {
				font-weight: bold;
				min-width: 4.4em;
				input {
					width: 3.6em;
					font-weight: bold;
				}
				.not-exportable {
					opacity: 0.5;
					padding: 0 0.5em;
					cursor: text;
					line-height: 1.5;
				}
			}
			.name {
				flex: 1;
				cursor: text;
				padding-right: $content-padding;
				line-height: 1.5;
				overflow: hidden;
			}
			.actions {
				display: flex;
				align-items: center;
				font-size: 0.9em;
			}
			input {
				box-shadow: none;
				background: none;
			}
			&.highlight-anim-trigger {
				animation: highlight 1s;
			}
			&.highlight-long-anim-trigger {
				animation: highlight 10s;
			}
		}
	}
}
