// Global variables

$regular-font-family: 'Source Sans Pro', sans-serif;
$monospaced-font-family: 'Inconsolata', monospace;

$shadow-color: rgba(#2d333a, 0.5);
$background-color: saturate(slategrey, 5);
$pane-forground-color: desaturate(lighten($background-color, 15), 5);

$content-padding: 0.5em;
$border-radius: 0.1em;

// Base classes

.bevel-text {
	color: $pane-forground-color;
	text-shadow: 0px -1px 0px rgba(lighten($pane-forground-color, 20), 0.75), 0px 1px 1px $shadow-color;
}

.content-pane {
	border-radius: $border-radius;
	background: $pane-forground-color;
	box-shadow: 0px -1px 0px rgba(lighten($pane-forground-color, 20), 0.65), 0px 1px 1px $shadow-color;
}

// Imports

@import "normalize";
@import "app/style";

// Generic styling

body {
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

:focus {
	outline: none;
}

* {
	cursor: default;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar {
	width: $content-padding;
	height: $content-padding;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba($background-color, 0.5);
	border: 0.2em solid transparent;
	background-clip: padding-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

// Reset Apple devices styling
input[type="text"],
input[type="number"],
textarea {
	-webkit-appearance: none;
}

input[type="text"],
input[type="number"],
textarea {
	font-family: $regular-font-family;
	cursor: text;
	border: none;
	padding: 0.2em 0.4em;
	box-shadow: 0 2px 0.5em rgba(black, 0.35) inset, 0 0px 1px black inset;
	border-radius: $border-radius;
	background: linear-gradient(rgb(220, 220, 220), rgb(255, 255, 255) 60%, rgb(218, 218, 218));
	+ input[type="text"],
	+ input[type="number"] {
		margin-left: -1px;
	}
}

button {
	font-family: $regular-font-family;
	border-radius: $border-radius;
	margin-right: $content-padding;
	border: 0;
	background: linear-gradient(lighten($pane-forground-color, 11), lighten($pane-forground-color, 2));
	padding: 0.18em $content-padding 0.22em;
	box-shadow: 0 1px 0 rgba(white, 0.25) inset, 0 -1px 0 rgba(black, 0.5) inset, 0 0px 1px rgba(black, 0.6);
	text-shadow: 0 1px 0 rgba(white, 0.2);
	&:active {
		box-shadow: 0 1px 0 rgba(black, 0.25) inset, 0 -1px 0 rgba(black, 0.3) inset, 0 0px 1px rgba(black, 0.4) inset;
		background: linear-gradient(darken($pane-forground-color, 3), darken($pane-forground-color, 15));
	}
	&:last-child {
		margin-right: 0;
	}
	.buttongroup & {
		border-radius: 0;
		margin: 0;
		&:first-of-type {
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
		}
		&:last-of-type {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}
}
